<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBT5GixaPntD10KD4wXPs-lJT8GLlI7zIY</string>
	<key>GCM_SENDER_ID</key>
	<string>447449059567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.fahis.fahisInspector</string>
	<key>PROJECT_ID</key>
	<string>fahis-inspector</string>
	<key>STORAGE_BUCKET</key>
	<string>fahis-inspector.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447449059567:ios:a3333ab84d1f4bdef74b1a</string>
</dict>
</plist>